In [18]:
import pandas as pd
sample= pd.read_csv(r"/content/main.csv")
sample.groupby((sample.Year//10)*10).sum()

       Year  Population      Total  ...  Burglary  Larceny_Theft  Vehicle_Theft
Year                                ...
1960  19645  1915053175   49295900  ...  13321100       26547700        5292100
1970  19745  2121193298  100991600  ...  28486000       53157800        9739900
1980  19845  2371370069  131123369  ...  33073494       72040253       11935411
1990  19945  2612825258  136582146  ...  26750015       77679366       14624418
2000  20045  2947969117  115012044  ...  21565176       67970291       11412834
2010  10060  1570146307   50167967  ...  10125170       30401698        3569080

[6 rows x 12 columns]